# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment Variables File
.env

# Virtual Environment Folders
venv/
env/

# Server Logs
server.log

# Secret and Configuration Files
*.env
*.secret
# .gitignore
config.py

# Uploads Folder (if contains sensitive data)
/uploads/
